<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daily.reach.sygoal">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.daily.reach.sygoal.BottomNavigationViewActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.daily.reach.sygoal.AboutActivity"
            android:label="About"
            android:parentActivityName="com.daily.reach.sygoal.BottomNavigationViewActivity" />
        <activity
            android:name="com.daily.reach.sygoal.SettingActivity"
            android:label="Setting"
            android:parentActivityName="com.daily.reach.sygoal.BottomNavigationViewActivity" />
        <activity android:name="com.daily.reach.sygoal.GoalActivity" />
        <activity android:name="com.daily.reach.sygoal.TaskActivity" />

        <receiver android:name="com.daily.reach.sygoal.classes.AlarmReceiver" />

        <activity
            android:name="com.daily.reach.sygoal.DisplayTaskScreen"
            android:parentActivityName="com.daily.reach.sygoal.BottomNavigationViewActivity" />
        <activity android:name="com.daily.reach.sygoal.WebActivity" />
        <activity android:name="com.daily.reach.sygoal.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>